 <!DOCTYPE html>
 <html lang="en"> 
 <head> 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   <title>Document</title>
 </head>
<body>
  <div>
  <header>
    thhis is header
    <ul><%if(locals.user){%>
      <li><a href="users/profile"><%=user.name%></li>
      <li><a href="users/signOut">SIGN OUT</li>

      <%}else{%>
         <li><a href="users/signIn">SIGN IN</li>
          <li><a href="users/signUp">SIGN UP</a></li>
         
      <% } %>

    </ul>
  </header>
  </div>
  
 </body>
</html> 